.stopwatcher {
  display: block;
  height: 100vh;
  background-image: url(/src/background.jpg);
  padding: 50px 20px;
}

.clockFace {
  border: 2px solid tomato;
  display: block;
  margin: 0 auto;
  width: 300px;
  text-align: center;
  border-radius: 4px;
  color: tomato;
  padding: 5px;
}

.clockBtns {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 15px 10px;
}

.clockBtn {
  width: 90px;
  border-radius: 5px;
  padding: 5px;
  border-color: rgb(130, 130, 207);
  box-shadow: rgba(130, 130, 207, 0.5) 0px 3px 8px;
  background-color: rgb(220, 237, 250);
  color: rgba(130, 130, 207);
  font-weight: bold;
}

.clockBtn:hover,
.clockBtn:focus {
  border-color: rgb(32, 211, 142);
  box-shadow: rgba(32, 211, 142, 0.5) 0px 3px 8px;
  background-color: rgba(202, 233, 217, 0.212);
  color: rgba(32, 211, 142);
}

.time {
  font-weight: bold;
}

.time:not(:last-child) {
  margin-right: 10px;
}

.time:not(:first-child) {
  margin-left: 10px;
}

.title {
  text-align: center;
  color: rgba(130, 130, 207);
  font-weight: bold;
  letter-spacing: 3px;
}
